body {
  background-image: url("grass.jpeg");
  color: #edeac7
}

.codeeRanch {
  font-size: 75px
}

#container {
 
}

ul > li {
  display: inline-block;
}

.marketpic {
  width: 366px;
  height: 366px;
}